<section class="writers-section">
  <div class="container">
    <h2 class="section-title">Meet The <span class="highlight">Writers</span></h2>
    <p class="subtitle">You can also join the writer community and add value to the society</p>
    <div class="writers-grid">
      
      {% for writer in site.writers limit:4 %}
      <div class="writer-card">
        <a href="{{ writer.url | relative_url }}">
          <div class="writer-card-image">
             <img src="{{ writer.image | relative_url }}" alt="{{ writer.name }}">
          </div>
          <h3>{{ writer.name }}</h3>
          <p>{{ writer.role }}</p>
          <span class="learn-more">Learn More <span>→</span></span>
        </a>
      </div>
      {% endfor %}
      
    </div>
    
    <div class="view-all-btn">
      <a href="{{ '/about/' | relative_url }}" class="btn btn-secondary">View All <span>⟩</span></a>
    </div>
  </div>
</section>